.cover {
  height: 100vh;
  margin: 0;
  &__wrap {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    &__img-wrap {
      width: 50%;
      max-width: 805px;
      height: 100%;
      position: relative;
      box-shadow: var(--shadowMed);
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }
    &__content {
      width: 95%;
      max-width: 1150px;
      z-index: 2;
      @include center;
      left: 60%;
      transition: all 200ms ease-out;
      &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
        &__title {
          font-size: clamp(3em, 5vw, 6em);
          font-weight: bold;
          margin-bottom: 0.5em;
          line-height: 1.1em;
          letter-spacing: 1px;
        }
        &__subtitle {
          font-weight: lighter;
        }
      }
    }
    &__call-to-action {
      position: absolute;
      bottom: 10%;
      right: 15%;
      z-index: 3;
      cursor: pointer;
      &__wrap {
        @include flex-center;
        padding: 1em;
        font-size: 1.1rem;
        transition: var(--transitionSlow);
        animation: bounce 3000ms ease-in-out infinite;
        &:hover {
          background-color: rgba(white, 0.1);
          color: var(--fontLight);
        }
        &__icon {
          width: 15px;
          margin-left: 0.7em;
        }
        &.scrolled {
          opacity: 0;
        }
      }
    }
  }
}

.about {
  padding-top: var(--spaceXl);
  margin-top: 0;
  &__wrap {
    &__intro {
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 600px;
      margin: 0 auto var(--spaceXl);
      text-align: justify;
      &__title {
        span {
          font-family: "Cervantis", Helvetica, Arial, sans-serif;
          font-size: 1.2em;
        }
      }
      &__desc {
        font-size: 1rem;
        line-height: 1.5em;
      }
    }
    &__skills {
      padding: 0;
      &__wrap {
        display: flex;
        flex-direction: column;
        &__skill {
          flex: 1;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          text-align: left;
          padding: 0;
          margin-bottom: 8em;
          &:last-of-type {
            margin-bottom: 0;
          }
          &__title-wrap {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 100%;
            &__title {
              font-weight: bold;
              font-size: 1.5rem;
            }
            &__desc {
              font-size: 1rem;
              margin-right: 20px;
            }
          }
          &__details-wrap {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            width: 70%;
            &__detail {
              width: 35%;
              height: 100%;
              &:last-of-type {
                border-right: 2px solid var(--fontLight);
              }
              &__subtitle {
                color: var(--primaryClr);
                font-size: 1.2rem;
              }
              &__content {
                list-style: none;
                font-size: 1rem;
                li {
                  margin-bottom: 0.3em;
                }
              }
            }
          }
          @include for-large-tablet-down {
            flex-direction: column;
            &__title-wrap {
              width: 100%;
              margin-bottom: 40px;
            }
            &__details-wrap {
              width: 100%;
              justify-content: space-around;
            }
          }
        }
        @media (max-width: 1045px) {
          flex-direction: column;
        }
      }
    }
  }
}

.portfolio {
  &__wrap {
    width: 100%;
    & .section-title {
      width: auto;
    }
    &__title {
      padding: 1em;
    }
    &__projects {
      display: flex;
      &__project-card {
        flex: 1;
        height: 400px;
        &__wrap {
          width: 100%;
          height: 100%;
          position: relative;
          background-color: rgb(36, 36, 36);

          &__img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            object-fit: cover;
            opacity: 0.2;
          }
          &__logo {
            width: 80%;
            max-width: 300px;
            @include center;
            z-index: 2;
            transition: var(--transitionSlow);
          }
          &__content {
            color: var(--fontLight);
            @include center;
            z-index: 2;
            font-weight: bold;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            transition: var(--transitionSlow);
            &__title {
              font-size: 1.5rem;
              margin: 0.7rem;
            }
            &__desc {
              opacity: 0.7;
              margin: 0.7rem;
              font-weight: bold;
            }
            &__btn {
              margin: 0.7rem;
            }
          }
        }
        &.hovered {
          .portfolio__wrap__projects__project-card__wrap__logo {
            transform: translate(-50%, -50%) scale(2);
            opacity: 0;
            pointer-events: none;
          }
          .portfolio__wrap__projects__project-card__wrap__content {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}

.contact {
  &__wrap {
    @include contain;
    &__form {
      display: flex;
      flex-direction: column;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1em;
      & > * {
        margin-bottom: 2.5em;
      }
      * {
        font-family: "Mulish", Helvetica, Arial, sans-serif;
      }
      &__title {
        grid-column: 1/-1;
      }
      &__item {
        position: relative;
        width: 100%;
        border-bottom: 2px solid rgba(white, 0.1);
        &__label {
          font-weight: bold;
          position: absolute;
          top: 35%;
          left: 1em;
          transition: var(--transitionFast);
          &.active {
            top: -25px;
          }
        }
        &__input {
          border: none;
          height: 40px;
          width: 100%;
          padding: 1em;
          font-size: 1rem;
          background: none;
          color: var(--fontLight);

          &:focus {
            background-color: rgba(white, 0.1);
            outline: 2px solid var(--primaryClr);
          }
          &--textarea {
            resize: none;
            height: 100px;
            width: 100%;
            background-color: transparent;
          }
        }
        &.full-width {
          grid-column: 1/-1;
        }
      }
      &__subtitle {
        grid-column: 1/-1;
      }
      &__options {
        grid-column: 1/-1;
        @include flex-center;
        flex-wrap: wrap;
        &__option {
          @include flex-center;
          margin: 1em;
          flex: 0 1 200px;
          cursor: pointer;
          @include for-small-tablet-down {
            justify-content: flex-start;
          }
          &__custom-checkbox {
            width: 20px;
            height: 20px;
            border: 2px solid var(--primaryClr);
            border-radius: 3px;
            margin-right: 1em;
            cursor: pointer;
          }
          &__text {
            font-weight: bold;
            user-select: none;
          }
          &__checkbox {
            display: none;
          }
          &.filled {
            .contact__wrap__form__options__option__custom-checkbox {
              background-color: var(--primaryClr);
            }
          }
        }
      }
      &__submit {
        grid-column: 1/-1;
        max-width: 300px;
        width: 100%;
        justify-self: center;
      }
    }
  }
}

@include for-small-tablet-down {
  .cover {
    &__wrap {
      &__content {
        left: 50%;
        &__wrap {
          padding: 2em;

          &__subtitle {
            font-size: 1rem;
          }
        }
      }
      &__call-to-action {
        &__wrap {
          font-size: 0.85rem;
        }
      }
    }
  }
  .portfolio__wrap {
    &__projects {
      flex-direction: column;
      height: 120vh;
      &__project-card {
        height: 300px;
      }
    }
    &__contact {
      flex-direction: column;
      text-align: center;
      &__text {
        margin-top: 1em;
      }
    }
  }
}

@include for-mobile {
  .cover {
    &__wrap {
      &__content {
        width: 90vw;
        max-width: unset;
      }
      &__img-wrap {
        width: 100%;
      }
    }
  }
}
