* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  background-color: var(--bodyClrDark);
  color: var(--fontLight);
  width: 100vw;
  overflow-x: hidden;
}

section {
  margin: var(--spaceXl) 0;
  width: 100vw;
}
