.hidden {
  opacity: 0;
  pointer-events: none;
}

.btn-1 {
  font-family: "Dual", Helvetica, Arial, sans-serif;
  @include flex-center;
  width: 140px;
  height: 45px;
  background-color: transparent;
  border: 2px solid var(--primaryClr);
  border-radius: 50px;
  color: var(--fontLight);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transitionFast);
  &:hover,
  &:focus {
    background-color: var(--primaryClr);
    outline: none;
    border-radius: 50px;
  }
  &:active {
    filter: brightness(1.2);
  }
}

.btn-2 {
  font-family: "Dual", Helvetica, Arial, sans-serif;
  @include flex-center;
  border: none;
  background-color: var(--primaryClr);
  border-radius: 50px;
  color: var(--fontLight);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2em;
  cursor: pointer;
  transition: var(--transitionFast);
  &:hover,
  &:focus {
    background-color: var(--primaryClrDarkened);
    outline: none;
    border-radius: 50px;
  }
  &:active {
    filter: brightness(1.2);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.75;
  &.main {
    opacity: 0;
    pointer-events: none;
    transition: var(--transitionMed);
    position: fixed;
    &.open {
      opacity: 0.5;
      pointer-events: all;
    }
  }
}

.container {
  @include contain;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
  @include for-small-tablet-down {
    font-size: 1.6rem;
  }
}
