:root {
  --primaryClr: rgb(0, 128, 128);
  --primaryClrDarkened: #094b4b;
  --secClr: #181827;
  --fontLight: rgb(255, 255, 255);
  --fontDark: rgb(73, 73, 73);
  --textDarkHeading: rgb(43, 43, 43);
  --bodyClrLight: rgba(255, 255, 255, 1);
  --bodyClrDark: rgb(20, 20, 20);

  --borderClr: 2px solid rgb(235, 235, 235);

  --shadowLight: 0px 3px 4px rgba(0, 0, 0, 0.5);
  --shadowMed: 0px 5px 7px rgba(0, 0, 0, 0.5);

  --containerWidth: 93%;
  --containerMaxWidth: 1200px;

  --spaceSm: 1rem;
  --spaceMd: 3rem;
  --spaceLg: 5rem;
  --spaceXl: 7rem;

  --headerHeight: 50px;

  --transitionFast: all 150ms ease-in-out;
  --transitionMed: all 300ms ease-in-out;
  --transitionSlow: all 500ms ease-in-out;
}
