:root {
  --primaryClr: rgb(0, 128, 128);
  --primaryClrDarkened: #094b4b;
  --secClr: #181827;
  --fontLight: rgb(255, 255, 255);
  --fontDark: rgb(73, 73, 73);
  --textDarkHeading: rgb(43, 43, 43);
  --bodyClrLight: rgba(255, 255, 255, 1);
  --bodyClrDark: rgb(15, 15, 15);

  --borderClr: 2px solid rgb(235, 235, 235);

  --shadowLight: 0px 3px 4px rgba(0, 0, 0, 0.5);
  --shadowMed: 0px 10px 20px -10px rgba(0, 0, 0, 1);

  --containerWidth: 95%;
  --containerMaxWidth: 1400px;

  --spaceSm: 1rem;
  --spaceMd: 3rem;
  --spaceLg: 5rem;
  --spaceXl: 10rem;

  --headerHeight: 50px;

  --transitionFast: all 150ms ease-in-out;
  --transitionMed: all 300ms ease-in-out;
  --transitionSlow: all 500ms ease-in-out;
}
